

.left {
  float: left;

    width: 40%;

}


.left img[src*="images/about/soojinprofilepic.jpg"] {
margin-left: 30%;
width: 70%;


}

.right {
  float: left;

    width: 60%;

}


.introduction {
  margin-left: 20%;
  margin-right: 20%;
  width: 60%;
  margin-top: 5%;
}

h1 {
    font-size: 2.1vw;
     font-weight: bold;

    font-family: 'barlow';
}

.txt-rotate {
    font-size: 2.3vw;
  color: #933a16;

}


.text1 {


  font-size: 2vw;

  font-family: 'barlow';

   font-weight:lighter;

  line-height: 5vh;
}



/*
.text2 {

  color: :black;

  font-family: 'Roboto', sans-serif;

  margin-right: 5%;

  font-size: 0.8vw;

  line-height: 2vw;

  margin-top: 3%;

}
*/



@media screen and (max-width: 600px) {

.left {
      width: 100%;

  }



.left img[src*="images/about/soojinprofilepic.jpg"] {
margin-left: 15%;
margin-right: 15%;
width: 70%;


}

.right {
    width: 100%;

  }

.text1 {
    font-size: 3vw;
      line-height: 3.7vw;

}

}
