* {
  box-sizing: border-box;
}

.appcontainer {
  width: 100%;
  padding-bottom: 10%;
}


/*row0*/
.approw0 {
  background-color: white;
  padding-top: 3%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
}

.approw0 .image {
  width: 60%;
}

.approw0 .appgif {
margin-left: 42%;

}


.approw0 .text {
  border-radius: 10%;
  margin-right: 3%;
  margin-top: 8%;
  float: left;
  width: 27%;

}

.text .textcenter {
  color: #3B3B3B;
  margin-top: 10%;
  width: 100%;
  height: 80;
  margin-bottom: 10%;
}


.approw0 .title {
  padding-left: 10%;
  font-size: 2vw;
}


.approw0 .subheading {
  padding-left: 10%;
  font-size: 1.3vw;
}

.approw0 .role {
  color: #3B3B3B;
  padding-left: 10%;
  font-size: 1vw;
}


.approw0 .description {
  color: #3B3B3B;
  padding-left: 10%;
  font-size: 1.5vw;
}


/*row1*/

.approw1 {
  padding-top: 15%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  margin-bottom: 25vh;
}

.approw1 .scan {
margin-left: 12.5%;
 margin-bottom: 10vh;

}
.approw1 .text .title{
  color: #3B3B3B;
  margin-left: 12.5%;
  transform: translate(0%, -20px);
  font-size: 1.8vw;
  margin-bottom: 3%;


}


.approw1 .text .description {
  color: #3B3B3B;
  margin-left: 15%;
  transform: translate(0%, -10px);
  font-size: 1.5vw;


}


/*row2*/

.approw2 {

  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-bottom: 25vh;
   display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;

  }

.approw2 .image {
  margin-left: 20%;
  margin-right: 13%;
  width: 15%;
  float: left;
  }


.approw2 .text {
  padding-top: 5vh;
  float: left;
  margin-left: 5%;
  width: 30%;
  margin-right: 12%;
  }




.approw2 .text .description {
  padding-top: 4vh;
  font-size: 1.5vw;
  }


/*row3*/
.approw3 {
  margin-top: 15%;
  padding-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
}




.approw3 .textleft {
  margin-top: 15%;
  width: 50%;
  float: left;

}

.approw3 .textleft .title {
  margin-left: 28%;
  font-size: 2vw;

}

.approw3 .textleft .description {
    color: #3B3B3B;
  padding-left: 28%;
  margin-right: 8%;
  font-size: 1.3vw;
  
}

.approw3 .textright {
  margin-top: 10%;
  width: 50%;
  float: left;

}

.addedit {
  transform: translate(-13%, 0);
}

.approw3 .textright .title {
  margin-left: 20%;
  font-size: 2vw;

}

.approw3 .textright .description {
    color: #3B3B3B;
  padding-left: 20%;
  margin-right: 20%;
    padding-right: 5%;
  font-size: 1.3vw;
  
}

.approw3 .textcenter {
  margin-top: 5%;
  text-align: center;
  margin-left: 25%;
  margin-right: 25%;
  width: 50%;
  float: left;

}


.approw3 .textcenter .title {

  font-size: 2vw;

}

.approw3 .textcenter .description {
  padding-left: 10%;
    padding-right: 10%;
    color: #3B3B3B;
  font-size: 1.3vw;
  
}


.approw3 .textleft ul {
  padding-left: 30%;
    padding-right: 10%;
    color: #3B3B3B;
  font-size: 1.3vw;
  
}


.approw3 .imageleft {
  width: 50%;

}


.approw3 .imageleft img {
    margin-left: 27%;
}

.approw3 .imageright {
  width: 50%;

}

.approw3 .imageright img {
  float: right;
  margin-right: 15%;
}



.customize {
  padding-right: 15%;
}

.dish {
    padding-left: 10%;
}

.recipe {
    transform: translate(5%, 0);
    margin-right: 30%;

}

.grocery {
  transform: translate(-10vw, 0);
}

.metaverse {
   transform: translate(-5vw, 0);
}

.display {
  margin-left: 10%;
}
.immersive {
  margin-left: 25%;
}

.sensory {
  margin-left: 15%;
}
@media screen and (max-width: 600px) {




}