* {
  box-sizing: border-box;
}

.header {
  background-color:  transparent;

  }

.filmcontainer {
  width: 100%;
  padding-bottom: 10%;
}


.hrdivider {
  width: 90%;
    margin-left: auto;
  margin-right: auto;
}

.filmrow1 {
  background-color: transparent;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -20%;
  width: 100%;
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
}


.filmrow {  
  height: 100%;
    margin-top: 10%;
  margin-bottom: 10%;
  margin-left: 5%;
  width: 90%;
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
}

.filmgif {
transform: translate(0, -40vh);
z-index: -99;
margin-right: auto;
margin-left: auto;

}


.cont-video {
  height: 60vh;
  float: left;
  width: 60%;
}



.cont-video iframe {
    width: 100%;
    height: 100%;
}


.filmrow .text {
  float: left;
  font-size: 1vw;
  width: 40%;

}

.text .textcenter {
  padding-left: 20%;
  padding-right: 5%;
  color: #3B3B3B;
  padding-top: 17vh;
padding-bottom: 17vh;
  width: 100%;
}

.filmrow .title {
    width: 100%;
  font-size: 2vw;
}


.filmrow .subheading {
  width: 100%;
  font-size: 1.4vw;
}

.filmrow .role {
      width: 100%;
  color: #3B3B3B;
  font-size: 1.4vw;
}


.filmrow .description {
      width: 100%;
  color: #3B3B3B;
  font-size: 1.4vw;
}

.date {
  color: #696969;
   font-size: 1.0vw;

}

.greylink {
   color: #9a5543;
}

a:hover {
   color: #BA7E61;
}

@media screen and (max-width: 600px) {

  .cont-video {
  width: 100vh;
  height: 40vh;
}

  .filmrow .text {

    width: 100%;

  }

  .text .textcenter {
       padding-top: 5vh;
      padding-bottom: 0vh;
    padding-left: 0;
  }

.filmrow .title {
    width: 100%;
  font-size: 4vw;
}

.filmrow .subheading {
  width: 100%;
  font-size: 3vw;
}

.filmrow .role {
      width: 100%;
  color: #3B3B3B;
  font-size: 3vw;
}
.filmrow .description {
      width: 90%;
  color: #3B3B3B;
  font-size: 2.7vw;
}

.date {
  color: #696969;
   font-size: 2.2vw;

}
}