<!DOCTYPE html>
<html>
<head>

   <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>{{ page.title }}</title>

<link href="https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400&family=Cormorant:wght@300&family=Roboto:wght@300;400&display=swap" rel="stylesheet">

<link href="https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400&family=Cormorant:wght@300&family=Questrial&family=Roboto:wght@300;400&display=swap" rel="stylesheet">

<link href="https://fonts.googleapis.com/css2?family=Barlow:wght@300&family=Forum&family=Questrial&display=swap" rel="stylesheet">

<link href="https://fonts.googleapis.com/css2?family=Forum&display=swap" rel="stylesheet">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

 <link rel="stylesheet" href="css/headerblack.css">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">

  <link rel="stylesheet" href="css/footerblack.css">

</head>


<body>

<div class="header">
  <a href="index.html" class="logo">Soojin Lee</a>      
  <div class="header-right">
    <a  href="about.html">About</a>   
    <div class="dropdowna">
    <button class="dropbtna">Work 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdowna-contenta">
       <a href="uiux.html">UI/UX Design</a>
         <a href="gd.html">Graphic Design</a>
         <a href="game.html">Game</a>
        <a href="film.html">Film</a>
    </div>
  </div> 

          <a href="soojinresume.pdf" target="_blank" id="resume">
            Resume
            </a>
  </div>
</div>
<!-- Header Ends -->

{{ content }}

<!-- Footer -->
 <div class="footer-basic">
        <footer>
            <div class="social"><a href="https://github.com/Soojin-Lee0819"><i class="icon ion-social-github"></i></a><a href="#"><i class="icon ion-email"> </i></a></div>
  
            <p class="copyright">Soojin Lee © 2021</p>
        </footer>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>

  </body>
  </html>

